resource "aws_route_table" "route_table_<###ITEM_NAME###>" {
  vpc_id = <###PARAM_1###>

  route {
    cidr_block = "0.0.0.0/0"
    gateway_id = <###PARAM_2###>
  }

  tags = {
    Name = "${var.project_name}-rt-<###ITEM_NAME###>"
  }
}
